@font-face
{
	font-family: "raleway";  
	src:url("/police/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

body
{
	margin: auto;
}

#bloc_page
{
    font-family: "raleway";
}

#header
{
    padding-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2.5%;
}

#logo img
{
	margin-left: 5%;
    width: 160px;
    height: 75px;
    grid-column:1;
    grid-row: 1;
}

nav
{
	padding-right: 0px;
	display: flex;
	grid-column:2;
	grid-row: 1;
}

nav ul
{
	margin-left: 33%;
	margin-top: -2%;
    list-style-type: none;
    display: flex;
    width: 40%;
}

nav li
{
	display: flex;
    width: 100%;
    padding-top: 13%;
    justify-content: center;
    border-top: 3px solid #FFFFFF;
}

nav a
{
    font-size: 1.2em;
    color: #181818;
    text-decoration: none;
}

nav li:hover
{
    border-top: 3px solid #0065FC;
}

nav a:hover
{
	color: #0065FC;
}

#inscription
{
	grid-column:2;
	grid-row: 1;
	margin-left: 80%;
	margin-top: 3.5%;
	font-size: 1.2em;
    color:#0065FC;
    text-decoration: none; 
}

#recherche
{
	margin-left: 3%;
}

#recherche h2
{
 	font-size: 2em;
}

#recherche h3
{
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 1%;
    margin-top: 1%;
}

.barre
{
	display:flex;
	margin-bottom: 1%;
}

.bouton_search
{
	margin-top: 0px;
	font-size: 1.8em;
	width:200px;
	height: 75px;
	background-color: #0065FC;
	color:white;
	text-decoration:none;
	border-top-right-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
	border-bottom-left-radius: 0em;
	border-top-left-radius: 0em;
	margin-left: 0px;
	outline:0;
	border:none;
	cursor: pointer;
	padding-left: 1%;
	padding-top: 5px;

}

.bouton_search i
{
	display: none;
}

#ico_search
{
	display: none;
}

.bouton_search:hover
{
	background-color: #0E56B8;
}

.search
{
	padding-left: 10px;
	border-style: solid;
	border-color: #F2F2F2;
	width:350px;
	height: 75px;
	font-size: 1.5em;
	font-weight: bold;
	outline:0;
	padding-left: 2%;
}

#loc
{
	background-color: #F2F2F2;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

#filtres
{
	display: flex;
}


#filtres ul
{
	display: flex;
	margin-left: -40px;
}

#filtres h2
{
	padding-top: 30px;
}

#filtres li
{
	list-style-type: none;
}

.bouton_filtres
{
	margin-left: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
    height : 72px;
    display: flex;
    line-height: 67px;
    color: black;
    text-decoration: none;
    border-radius: 55px;
    font-size: 1.5em;
    background-color: white;
    cursor: pointer;
    justify-content: space-between;
    border-top-color: #F2F2F2;
    border-bottom-color: #F2F2F2;
    border-right-color: #F2F2F2;
    border-style: solid;
    outline:0;
    font-weight: bold;
}
 
button:hover
{
     background-color: #F2F2F2;
}

.bouton_filtres i
{
	margin-top: -2px;
	margin-left: -25px;
	width: 70px; 
  	height: 50px;
	border: none;
	border-radius: 70px;
	background-color: #DEEBFF ;
	color:#0065FC;
	padding-top: 20px;
	margin-right: 20px;
}

#info
{
	display:flex;
	margin-bottom: 20px;
}

#info h3
{
	margin-left: 10px;
}

#ico_info
{
	text-align: center;
	line-height: 30px;
	margin-top: 1%;
	width: 30px; 
  	height: 30px;
	border: solid 0.1em;
	border-color: #F2F2F2;
	border-radius: 50%;
	background-color: white ;
	color:#0065FC;
}

section
{
	display: flex;
}

#heber
{
	margin-left: 3%;
	background-color: #F2F2F2;
	flex: 3;
	border-radius: 20px;
	display:flex;
	flex-direction: column;
}

#hebergement
{
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: 2%;
	font-size: 1.8em;
}

#conteneur
{
	display: flex;
	justify-content: center;
}

#conteneur01
{
	display: flex;
	justify-content: center;

}

#hebergement1, #hebergement2, #hebergement4, #hebergement5
{
	margin-left:4%;
	margin-bottom: 4%;
}

#hebergement3, #hebergement6
{
	margin-right: 4%;
	margin-left:4%;
}


#afficher_plus
{
    margin-bottom: 2%;
    margin-left: 4.5%;
    font-size: 1em;
}

#afficher_plus a
{
	text-decoration: none;
	color: black;
	font-size: 1.8em;
}

aside
{
	margin-left: 3%;
	margin-right: 2.5%;
	background-color: #F2F2F2;
	flex: 1.2;
	border-radius: 20px;
	display:flex;
	flex-direction: column;
}

#conteneur2
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 2%;
	padding-right: 2%;
}

#popu
{
	display: inline-flex;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 5%;
	justify-content:space-between;
	font-size: 0.8em;

}

#acti
{
	flex: 3;
	border-radius: 20px;
	display:flex;
	flex-direction: column;
	margin-bottom: 5%;
	justify-content: center;
}

#conteneur3
{
	display: flex;
	justify-content: center;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

#activite1,#groupe1,#activite5
{
	margin-right:3%;
}

#activite4,#activite2
{
	margin-bottom: 15%;
}

section h2,h3
{
	margin: 0%;
	font-size: 2em;
}

#activites
{
	margin-left: 3%;
	margin-top: 5%;
	margin-bottom: 30px;
}

article img
{
	width: 100%;
	height: auto;

}

aside img
{
	width: 100%;
	height: auto;
}

footer
{
    display: flex;
	background-color: #F2F2F2;
	padding-bottom: 30px;
}

footer dt
{
	padding-top: 2%;
	font-weight: bold;
    font-size: 1.2em;
}

footer dd
{
	padding-top: 2%;
	margin-left: 0px;
}

#propos
{
	margin-left: 30px;
	width: 28%;
}

#nos_hébergments
{
    width: 35%;
}

#assistance
{
    width: 31%;
}

footer a
{
	text-decoration: none;
	color: black;
}

h3 span
{
	font-weight: bold;
}

#hebergement1
{
	font-weight: bold;
	background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
	background-position: center -40px;
	position:relative;
	background-size:  100%;
	border: 6.5px solid white;
	width: 325px;
	height: 255px;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;

}

#hebergement1 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#hb1
{
	position: absolute;
	bottom: -1px;
	left: -1px;
	background-color: white;
	color: black;
	width: 100.5%;
	height: 40%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#hb1 h2
{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1.3em;;
	padding-bottom: 2.6%;
}

#hb1 h3
{
	margin-left: 20px;
	font-size: 1.2em;;
	padding-bottom: 3%;
	font-weight: normal;
}

#hebergement2
{
	font-weight: bold;
	background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
	background-position: center -20px;
	position:relative;
	background-size: 100%;
	height: 300px;
	border: 6px solid white;
	width: 325px;
	height: 255px;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}

#hebergement2 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#hb2
{
	position: absolute;
	bottom: -1px;
	left: -1px;
	background-color: white;
	color: black;
	width: 100.5%;
	height: 40%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#hb2 h2
{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1.3em;
	padding-bottom: 3%;
}

#hb2 h3
{
	margin-left: 20px;
	font-size: 1.2em;;
	padding-bottom: 3%;
	font-weight: normal;
}

#hebergement3
{
	height: 300px; 
	font-weight: bold;
	background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
	background-position:center -20px;
	position:relative;
	background-size:  100%;
	border: 6px solid white;
	width: 325px;
	height: 255px;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}

#hebergement3 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#hb3
{
	position: absolute;
	bottom: -1px;
	left: -1px;
	background-color: white;
	color: black;
	width: 100.5%;
	height: 40%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#hb3 h2
{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1.3em;
	padding-bottom: 3%;
}

#hb3 h3
{
	margin-left: 20px;
	font-size: 1.2em;;
	padding-bottom: 3%;
	font-weight: normal;
}

#hebergement4
{
	height: 300px; 
	font-weight: bold;
	background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
	background-position: center -100px;
	position:relative;
	background-size:  100%;
	border: 6px solid white;
	width: 325px;
	height: 255px;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}

#hebergement4 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#hb4
{
	position: absolute;
	bottom: -1px;
	left: -1px;
	background-color: white;
	color: black;
	width: 100.5%;
	height: 40%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#hb4 h2
{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1.3em;
	padding-bottom: 3%;
}

#hb4 h3
{
	margin-left: 20px;
	font-size: 1.2em;;
	padding-bottom: 3%;
	font-weight: normal;
}

#hebergement5
{
	height: 300px; 
	font-weight: bold;
	background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
	background-position: center -10px;
	position:relative;
	background-size:  100%;
	border: 6px solid white;
	width: 325px;
	height: 255px;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}

#hebergement5 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#hb5
{
	position: absolute;
	bottom: -1px;
	left: -1px;
	background-color: white;
	color: black;
	width: 100.5%;
	height: 40%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#hb5 h2
{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1.3em;
	padding-bottom: 3%;
}

#hb5 h3
{
	margin-left: 20px;
	font-size: 1.2em;;
	padding-bottom: 3%;
	font-weight: normal;
}

#hebergement6
{
	height: 300px; 
	font-weight: bold;
	background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
	background-position: center -180px;
	position:relative;
	background-size:  100%;
	border: 6px solid white;
	width: 325px;
	height: 255px;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}
#hebergement6 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#hb6
{
	position: absolute;
	bottom: -1px;
	left: -1px;
	background-color: white;
	color: black;
	width: 100.5%;
	height: 40%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#hb6 h2
{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1.3em;
	padding-bottom: 3%;
}

#hb6 h3
{
	margin-left: 20px;
	font-size: 1.2em;;
	padding-bottom: 3%;
	font-weight: normal;
}

#hebergement7
{
	height: 300px; 
	font-weight: bold;
	background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
	background-position: -50%;
	background-size: 70%;
	position:relative;
	border: 6px solid white;
	overflow: auto;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
	margin-bottom: 10%;
	width: 400px;
	height: 180px;
}

#hebergement7 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#hb7
{
	position: absolute;
	right: 0;
	background-color: white;
	color: black;
	width: 60%;
	height: 100%
}

#hb7 h2
{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1.3em;;
	padding-bottom: 3%;
}

#hb7 h3
{
	margin-left: 20px;
	font-size: 1.2em;
	padding-bottom: 29%;
	font-weight: normal;
}


#hebergement8
{
	height: 300px; 
	font-weight: bold;
	background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
	background-position: -50%;
	background-size: 70%;
	position:relative;
	border: 6px solid white;
	overflow: auto;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
	margin-bottom: 10%;
	width: 400px;
	height: 180px;
}

#hebergement8 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#hb8
{
	position: absolute;
	right: 0;
	background-color: white;
	color: black;
	width: 60%;
	height: 100%
}

#hb8 h2
{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1.3em;;
	padding-bottom: 3%;
}

#hb8 h3
{
	margin-left: 20px;
	font-size: 1.2em;
	padding-bottom: 29%;
	font-weight: normal;
}

#hebergement9
{
	height: 300px; 
	font-weight: bold;
	background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
	background-position: -50% -105%;
	background-size: 70%;
	position:relative;
	border: 6px solid white;
	overflow: auto;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
	margin-bottom: 10%;
	width: 400px;
	height: 180px;
}

#hebergement9 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#hb9
{
	position: absolute;
	right: 0;
	background-color: white;
	color: black;
	width: 60%;
	height: 100%
}

#hb9 h2
{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1.3em;
	padding-bottom: 3%;
}

#hb9 h3
{
	margin-left: 20px;
	font-size: 1.2em;
	padding-bottom: 29%;
	font-weight: normal;
}

#activite1
{
	font-weight: bold;
	background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
	background-position: 50% 0%;
	background-size: 200%;
	position:relative;
	width: 400px;
	height: 600px;
	overflow: auto;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;

}

#activite1 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#act1
{
	position: absolute;
	bottom: 0;
	background-color: white;
	color: black;
	width: 100%;
	height: 12%;
}

#act1 h2
{
	margin-left: 20px;
	font-size: 1.5em;
	margin-top: 20px;
}

#activite2
{
	font-weight: bold;
	background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
	background-position: 0%;
	background-size: 100%;
	position:relative;
	width: 400px;
	height: 325px;
	overflow: auto;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}

#activite2 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#act2
{
	position: absolute;
	bottom: 0;
	background-color: white;
	color: black;
	width: 100%;
	height: 22%;
}

#act2 h2
{
	margin-left: 20px;
	font-size: 1.5em;
	margin-top: 20px;

}

#activite3
{
	font-weight: bold;
	background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
	background-position: 30%;
	background-size: 100%;
	position:relative;
	width: 400px;
	height: 215px;
	overflow: auto;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}

#activite3 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#act3
{
	position: absolute;
	bottom: 0;
	background-color: white;
	color: black;
	width: 100%;
	height: 33%;
}

#act3 h2
{
	margin-left: 20px;
	font-size: 1.5em;
	margin-top: 20px;
}

#activite4
{
	font-weight: bold;
	background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
	background-position: 50%;
	background-size: 100%;
	position:relative;
	width: 400px;
	height: 250px;
	overflow: auto;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}

#activite4 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#act4
{
	position: absolute;
	bottom: 0;
	background-color: white;
	color: black;
	width: 100%;
	height: 25%;
}

#act4 h2
{
	margin-left: 20px;
	font-size: 1.5em;
	margin-top: 20px;
}

#activite5
{
	font-weight: bold;
	background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
	background-position: 50% 0%;
	background-size: 200%;
	position:relative;
	width: 400px;
	height: 600px;
	overflow: auto;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}

#activite5 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#act5
{
	position: absolute;
	bottom: 0;
	background-color: white;
	color: black;
	width: 100%;
	height: 12%;
}

#act5 h2
{
	margin-left: 20px;
	font-size: 1.5em;
	margin-top: 14px;
}

#activite6
{
	font-weight: bold;
	background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
	background-position: 50%;
	background-size: 100%;
	position:relative;
	width: 400px;
	height: 290px;
	overflow: auto;
	border-radius: 25px;
	box-shadow: 0px 0px 8px 1px #b8b8b8;
}

#activite6 a 
{
	display: block;
	width:100%;
	height:100%;
	color: black;
	text-decoration: none;
}

#act6
{
	position: absolute;
	bottom: 0;
	background-color: white;
	color: black;
	width: 100%;
	height: 25%;
}

#act6 h2
{
	margin-left: 20px;
	font-size: 1.5em;
	margin-top: 14px;
}

.fa-star 
{
	color: #F2F2F2;
	cursor: pointer;
	padding: 0.0625rem;
}

.fa-star.gold 
{
	color: #0065FC;
}

.rating 
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.stars
{
	display: inline-flex;
	justify-content: center;
	font-size: 1em;
	margin-left: 20px;
}

.stars2
{
	display: inline-flex;
	justify-content: center;
	font-size: 1em;
	margin-left: 20px;
}



.stars:hover .fa-star 
{
	color: #0065FC;
}

.stars .fa-star:hover ~ .fa-star 
{
	color: #F2F2F2;
}

.stars2:hover .fa-star 
{
	color: #0065FC;
}

.stars2 .fa-star:hover ~ .fa-star 
{
	color: #F2F2F2;
}

@media screen and (min-width: 320px) and (max-width:648px)
{
	body
	{
		font-size: 1em;
	}

	#header
	{
		font-size: 1.1em;
		padding-top: 1%;
		margin-left: 0%;
		margin-right: 0%;
	    margin-bottom: 10%;
	}

	#logo
	{
	    grid-column: 1;
	    grid-row: 1;
	}

	#logo img
	{
		margin-left: 5%;
	    width: 100px;
	    height: 50px;
	}

	nav
	{
		padding-right: 0px;
		display: flex;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 2;
		margin-left: 0%;
		margin-top: 0px;
		margin-right: 0%;
	}

	nav ul
	{
		margin-left: 0%;
		width: 100%;
		padding-left: 0px;
		margin-bottom: 0px;
	    z-index: 1;
	}

	nav li
	{
		font-size: 70%;
		padding-left: 0%;
	    padding-right:0%;
	    padding-bottom: 2%;
	    width: 100%;
	    justify-content: center;
	    border-bottom :3px solid #F2F2F2;
	    border-top:none;
	    margin-right: 0px;
	}

	nav a
	{
	    font-size: 1.3em;
	    color: #181818;
	    text-decoration: none;
	   	padding-top: 0px; 
	}

	nav li:hover
	{
	    border-bottom :3px solid #0065FC;
	    border-top:none;
	}

	nav ul:hover
	{
		border-top: none;
	}

	nav a:hover
	{
		color: #0065FC;
	}

	#inscription
	{
		margin-left: 50%;
		margin-top: 12%;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row: 1;
		font-size: 0.8em;
	    color:#0065FC;
	    text-decoration: none;
	}

	#recherche h2
	{
	 	font-size: 1.4em;
	 	margin-left: 5%;
	 	margin-right: 5%;
	}

	#recherche h3
	{
	    font-size: 1em;
	    font-weight: normal;
	    margin-bottom: 10%;
	    margin-top: 3%;
	    margin-left: 5%;
	}

	.barre
	{
		display:flex;
		margin-bottom: 0%;
	}

	.bouton_search
	{
		margin-top: 0px;
		font-size: 0.3em;
		width:50px;
		height: 50px;
		background-color: #0065FC;
		color:white;
		text-decoration:none;
		border-top-right-radius: 3em;
		border-top-left-radius: 3em;
		border-bottom-right-radius: 3em;
		border-bottom-left-radius: 3em;
		margin-left: -5%;
		outline:0;
		border:none;
		cursor: pointer;
		padding-left: 10px;
		padding-top: 0px;
	}

	.bouton_search span
	{
		display:none;
	}

	.bouton_search i
	{
		display: flex;
		padding-left: 20%;
		padding-top: 0px;
		color:white;
	}

	.bouton_search:hover
	{
		background-color: #0E56B8;
	}

	.search
	{
		padding-left: 20%;
		border-style: solid;
		border-color: #F2F2F2;
		width:65%;
		height: 50px;
		max-width: 300px;
		font-size: 1em;
		font-weight: bold;
		outline:0;
		padding-left: 2%;
		margin-bottom: 8%;
	}

	#loc
	{
		font-size: 0.5em;
		margin-left: 5%;
		background-color: #F2F2F2;
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
		border-top-left-radius: 2em;
		border-bottom-left-radius: 2em;
		height: 35px;
	}

	#filtres
	{
		margin-left: 5%;
		flex-direction: column;
	}

	#filtres h2
	{
		margin-left: 0px;
	}

	#filtres ul
	{
		flex-wrap: wrap;
		padding-left: 2.5%;
	}

	.bouton_filtres
	{
		margin-left: 15px;
		padding-left: 0px;
		padding-right: 20px;
		padding-top: 0px;
		margin-bottom: 2%;
	    height : 40px;
	    display: flex;
	    line-height: 40px;
	    color: black;
	    text-decoration: none;
	    border-radius: 55px;
	    font-size: 1em;
	    background-color: white;
	    cursor: pointer;
	    justify-content: space-between;
	    border-top-color: #F2F2F2;
	    border-bottom-color: #F2F2F2;
	    border-right-color: #F2F2F2;
	    border-style: solid;
	    outline:0;
	    font-weight: bold;
	}

	.bouton_filtres i
	{
		font-size: 0.8em;
		margin-top: -2px;
		margin-left: -2px;
		width: 40px; 
	  	height: 25px;
		border: none;
		border-radius: 70px;
		background-color: #DEEBFF;
		color:#0065FC;
		padding-top: 15px;
	}

	#info h3
	{
		margin-left: 2%;
		margin-right: 3%;
		font-size: 0.95em;
	}

	#ico_info
	{
		font-size: 0.8em;
		margin-left: 2.5%;
		text-align: center;
		line-height: 30px;
		margin-top: 2%;
		width: 35px; 
	  	height: 28px;
		border: solid 0.1em;
		border-color: #F2F2F2;
		border-radius: 50%;
		background-color: white ;
		color:#0065FC;
	}

   .groupe_popu_heber
   {
	   	display: flex;
	   	flex-direction: column-reverse;
	   	margin:auto;
   }

   #popu
	{
	padding-top: 10%;
	margin-left: -3%;
	padding-right: 5%;
	padding-bottom: 5%;
	font-size: 0.7em;
	}

	aside
	{
		margin-left: 0%;
		margin-right: 0px;
		background-color: #F2F2F2;
		flex: 1.2;
		border-radius: 0px;
		flex-direction: column;
	}

   #heber
   {
   	display: flex;
   	padding-bottom: 20px;
   	padding-left: 0%;
   	background-color: white;
   }

   #hebergement
	{
	margin-top: 7%;
	margin-left: 5%;
	margin-bottom: 5%;
	font-size: 1.3em;
	}

   #hebergement1
	{
	background-position: center -50px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb1 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb1 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement2
	{
	background-position: center -50px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb2 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb2 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement3
	{
	background-position: center -50px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb3 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb3 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement4
	{
	background-position: center -100px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb4 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb4 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement5
	{
	background-position: center -50px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb5 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb5 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement6
	{
	background-position: center -200px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb6 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb6 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement7
	{
	background-position: -60%;
	position:relative;
	width: 90%;
	height: 140px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	margin-bottom: 5%;
	}

	#hb7 h2
	{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb7 h3
	{
	margin-left: 20px;
	font-size: 0.9em;
	padding-bottom: 29%;
	font-weight: normal;
	}

	#hebergement8
	{
	background-position: -60%;
	position:relative;
	width: 90%;
	height: 140px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	margin-bottom: 5%;
	}

	#hb8 h2
	{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb8 h3
	{
	margin-left: 20px;
	font-size: 0.9em;
	padding-bottom: 29%;
	font-weight: normal;
	}

	#hebergement9
	{
	background-position: -20% 80%;
	position:relative;
	width: 90%;
	height: 140px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	margin-bottom: 15%;
	}

	#hb9 h2
	{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb9 h3
	{
	margin-left: 20px;
	font-size: 0.9em;
	padding-bottom: 29%;
	font-weight: normal;
	}

   #hebergement1, #hebergement2, #hebergement4, #hebergement5
	{
	margin-left:0%;
	margin-bottom: 5%;
	}

	#hebergement3, #hebergement6
	{
	margin-right: 0%;
	margin-left:0%;
	}

	#conteneur, #conteneur01
	{
	margin-bottom: 5%;
	}

   #conteneur
   {
   	flex-direction: column;
   	align-items: center;
   	padding-left: 0%;
   	padding-right: 0%;
   }

   #conteneur01
   {
   	flex-direction: column;
   	align-items: center;
   	padding-left: 0%;
   	padding-right: 0%;
   }

   #conteneur2
   {
   	flex-direction: column;
   	align-items: center;
   	padding-left: 0%;
   	padding-right: 0%;
   }

   #conteneur2 .star
   {
	display: inline-flex;
	justify-content: center;
	font-size: 0.8em;
	margin-left: 2.5%;
	
   }

   #conteneur3
   {
   	font-size: 0.7em;
   	flex-direction: column;
   	align-items: center;
   	padding-left: 0%;
   	padding-right: 0%
   }

   #afficher_plus
	{
	margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    font-size: 0.6em;
	}

   #activites
	{
	margin-left: 8%;
	margin-top: 5%;
	margin-bottom: 30px;
	font-size: 1.3em;
	}

   #activite1,#groupe1,#activite5
	{
	margin-right:0%;
	}

	#activite4,#activite2
	{
	margin-bottom: 0%;
	}

	#activite1,#groupe1,#activite5,#activite4,#activite2
	{
		margin-bottom: 5%;
	}

   #activite1
   {
   	background-position: 50%;
	background-size: 100%;
	position:relative;
	width: 320px;
	height: 200px;
	border-radius: 20px;
   }

	#act1
	{
	width: 100%;
	height: 30%;
	}

   #activite2
   {
   	background-position: 50%;
	background-size: 100%;
	position:relative;
	width: 320px;
	height: 200px;
	border-radius: 20px;
   }

   #act2
	{
	width: 100%;
	height: 30%;
	}

   #activite3
   {
   	background-position: 50%;
	background-size: 100%;
	position:relative;
	width: 320px;
	height: 200px;
	border-radius: 20px;
   }

   #act3
	{
	width: 100%;
	height: 30%;
	}

	#activite4
   {
   	background-position: 50%;
	background-size: 100%;
	position:relative;
	width: 320px;
	height: 200px;
	border-radius: 20px;
   }

   #act4
	{
	width: 100%;
	height: 30%;
	}

   #activite5
   {
   	background-position: 50%;
	background-size: 100%;
	position:relative;
	width: 320px;
	height: 200px;
	border-radius: 20px;
   }

   #act5
	{
	width: 100%;
	height: 30%;
	}

   #activite6
   {
   	background-position: 50%;
	background-size: 100%;
	position:relative;
	width: 320px;
	height: 200px;
	border-radius: 20px;
   }

   #act6
	{
	width: 100%;
	height: 30%;
	}

	footer
	{
	flex-direction: column;
    padding-top: 3%;
	background-color: #F2F2F2;
	padding-bottom: 2%;
	font-size: 0.7em;
	padding-left: 2.5%;
	}

	#propos
	{
	margin-left: 0px;
	width: 100%;
	}

	#nos_hébergments
	{
    width: 100%;
	}

	#assistance
	{
    width: 100%;
	}

	.stars 
	{
	display: inline-flex;
	justify-content: center;
	font-size: 0.8em;
	margin-left: 2.5%;
	}

	.stars2
	{
	display: inline-flex;
	justify-content: center;
	font-size: 0.8em;
	margin-left: 10%;
	}
}
@media screen and (min-width: 650px) and (max-width:1024px)
{
	body
	{
		font-size: 1em;
	}

	#header
	{
		font-size: 1.1em;
		padding-top: 1%;
		margin-left: 0%;
		margin-right: 0%;
	    margin-bottom: 10%;
	}

	#logo
	{
	    grid-column: 1;
	    grid-row: 1;
	}

	#logo img
	{
		margin-left: 5%;
	    width: 350px;
	    height: 150px;
	}

	nav
	{
		padding-right: 0px;
		display: flex;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 2;
		margin-left: 0%;
		margin-top: 2%;
		margin-right: 0%;
	}

	nav ul
	{
		margin-left: 0%;
		width: 100%;
		padding-left: 0px;
		margin-bottom: 0px;
	    z-index: 1;
	}

	nav li
	{
		font-size: 100%;
		padding-left: 0%;
	    padding-right:0%;
	    padding-bottom: 2%;
	    padding-top: 2%;
	    width: 100%;
	    justify-content: center;
	    border-bottom :3px solid #F2F2F2;
	    border-top :3px solid #F2F2F2;
	    border-right:3px solid #F2F2F2;
	    margin-right: 0px;
	}

	nav a
	{
	    font-size: 2em;
	    color: #181818;
	    text-decoration: none;
	   	padding-top: 0px; 
	}

	nav li:hover
	{
	    border-bottom :3px solid #0065FC;
	}

	nav ul:hover
	{
		border-top: none;
	}

	nav a:hover
	{
		color: #0065FC;
	}

	#inscription
	{
		margin-left: 50%;
		margin-top: 15%;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row: 1;
		font-size: 2em;
	    color:#0065FC;
	    text-decoration: none;
	}

	#recherche h2
	{
	 	font-size: 2.5em;
	 	margin-left: 5%;
	 	margin-right: 5%;
	}

	#recherche h3
	{
	    font-size: 1.5em;
	    font-weight: normal;
	    margin-bottom: 10%;
	    margin-top: 3%;
	    margin-left: 5%;
	}

	.barre
	{
		display:flex;
		margin-bottom: 0%;
	}

	.bouton_search span
	{
		display:none;
	}

	.bouton_search
	{
		margin-top: 0px;
		font-size: 1em;
		width:100px;
		height: 100px;
		background-color: #0065FC;
		color:white;
		text-decoration:none;
		border-top-right-radius: 2em;
		border-top-left-radius: 2em;
		border-bottom-right-radius: 2em;
		border-bottom-left-radius: 2em;
		margin-left: -5%;
		outline:0;
		border:none;
		cursor: pointer;
		padding-left: 10px;
		padding-top: 7px;

	}

	.bouton_search i
	{
		display: flex;
		padding-left: 10%;
		padding-top: 15%;
	}

	.bouton_search:hover
	{
		background-color: #0E56B8;
	}

	.search
	{
		padding-left: 20%;
		border-style: solid;
		border-color: #F2F2F2;
		width:65%;
		height: 100px;
		max-width: 800px;
		font-size: 2em;
		font-weight: bold;
		outline:0;
		padding-left: 2%;
		margin-bottom: 8%;
	}

	#loc
	{
		font-size: 1.5em;
		margin-left: 5%;
		background-color: #F2F2F2;
		padding-top: 30px;
		padding-left: 40px;
		padding-right: 40px;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		height: 70px;
	}

	#filtres
	{
		margin-left: 0%;
		flex-direction: column;
	}

	#filtres h2
	{
		margin-left: 2.5%;
	}

	#filtres ul
	{
		flex-wrap: wrap;
		padding-left: 0%;
	}

	button
	{
		margin-bottom: 3%;
		margin-right: 0%;
		margin-left: 6%;
		padding-left: 0px;
		padding-top: 0px;
	    height : 80px;
	    width: auto;
	    display: flex;
	    line-height: 75px;
	    color: black;
	    text-decoration: none;
	    border-radius: 55px;
	    font-size: 2.5em;
	    background-color: white;
	    cursor: pointer;
	    justify-content: space-between;
	    border-top-color: #DFDFDF ;
	    border-bottom-color: #DFDFDF ;
	    border-right-color: #DFDFDF ;
	    border-style: solid;
	    outline:0;

	}

	#money
	{
		font-size: 1em;
		margin-top: -2px;
		margin-left: -2px;
		width: 80px; 
	  	height: 78px;
		border: none;
		border-radius: 70px;
		background-color: #DEEBFF;
		color:#0065FC;
		padding-top: 3px;
	}

	#familial
	{
		font-size: 1em;
		margin-top: -2px;
		margin-left: -2px;
		width: 80px; 
	  	height: 78px;
		border: none;
		border-radius: 70px;
		background-color: #DEEBFF ;
		color:#0065FC;
		padding-top: 3px;
	}

	#romantique
	{
		font-size: 1em;
		margin-top: -2px;
		margin-left: -2px;
		width: 80px; 
	  	height: 78px;
		border: none;
		border-radius: 70px;
		background-color: #DEEBFF ;
		color:#0065FC;
		padding-top: 3px;
	}

	#animaux
	{
		font-size: 1em;
		margin-top: -2px;
		margin-left: -2px;
		width: 80px; 
	  	height: 78px;
		border: none;
		border-radius: 70px;
		background-color: #DEEBFF ;
		color:#0065FC;
		padding-top: 3px;
	}

	#info h3
	{
		margin-left: 2%;
		margin-right: 3%;
		font-size: 2em;
	}

	#ico_info
	{
		font-size: 1.5em;
		margin-left: 2.5%;
		text-align: center;
		line-height: 50px;
		margin-top: 2%;
		width: 55px; 
	  	height: 55px;
		border: solid 0.1em;
		border-color: #DFDFDF ;
		border-radius: 50%;
		background-color: white ;
		color:#0065FC;
	}

   .groupe_popu_heber
   {
	   	display: flex;
	   	flex-direction: column-reverse;
	   	margin:auto;
   }

   #popu
	{
	padding-top: 5%;
	margin-left: -3%;
	padding-right: 5%;
	padding-bottom: 0%;
	font-size: 1em;
	}

	aside
	{
		margin-left: 0%;
		margin-right: 0px;
		background-color: #F2F2F2;
		flex: 1.2;
		border-radius: 0px;
		flex-direction: column;
	}

   #heber
   {
   	display: grid;
   	grid-template-columns: 1fr 1fr;
   	padding-bottom: 20px;
   	padding-left: 0%;
   	background-color: white;
   	margin-left: 5%;
   }

   #hebergement
	{
	margin-top: 7%;
	margin-left: 2.5%;
	margin-bottom: 5%;
	font-size: 2em;
	grid-column-start: 1;
	grid-column-end: 3;
   	grid-row:1;
	}

   #hebergement1
	{
	background-position: center -50px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb1 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb1 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement2
	{
	background-position: center -50px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb2 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb2 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement3
	{
	background-position: center -50px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb3 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb3 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement4
	{
	background-position: center -100px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb4 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb4 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement5
	{
	background-position: center -50px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb5 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb5 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement6
	{
	background-position: center -200px;
	position:relative;
	width: 90%;
	height: 200px;
	max-width: 320px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb6 h2
	{
	padding-top: 3%;
	margin-left: 10px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb6 h3
	{
	margin-left: 10px;
	font-size: 0.9em;
	padding-bottom: 2%;
	font-weight: normal;
	}

	#hebergement7
	{
	background-image: url("images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
	background-size: 150%;
	background-position: center -0px;
	position:relative;
	width: 90%;
	height: 300px;
	max-width: 200px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb7
	{
	position: absolute;
	right: 0;
	background-color: white;
	color: black;
	width: 100%;
	height: 40%;
	bottom: 0;
	}

	#hb7 h2
	{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb7 h3
	{
	margin-left: 20px;
	font-size: 0.9em;
	padding-bottom: 10%;
	font-weight: normal;
	}

	#hebergement8
	{
	background-image: url("images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg");
	background-size: 150%;
	background-position: center -0px;
	position:relative;
	width: 90%;
	height: 300px;
	max-width: 200px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb8
	{
	position: absolute;
	right: 0;
	background-color: white;
	color: black;
	width: 100%;
	height: 40%;
	bottom: 0;
	}

	#hb8 h2
	{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb8 h3
	{
	margin-left: 20px;
	font-size: 0.9em;
	padding-bottom: 10%;
	font-weight: normal;
	}

	#hebergement9
	{
	background-image: url("images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
	background-position: center -50px;
	background-size: 100%;
	position:relative;
	width: 90%;
	height: 300px;
	max-width: 200px;
	border-radius: 20px;
	border: 5px solid white;
	}

	#hb9
	{
	position: absolute;
	right: 0;
	background-color: white;
	color: black;
	width: 100%;
	height: 40%;
	bottom: 0;
	}

	#hb9 h2
	{
	padding-top: 3%;
	margin-left: 20px;
	font-size: 1em;
	padding-bottom: 3%;
	}

	#hb9 h3
	{
	margin-left: 20px;
	font-size: 0.9em;
	padding-bottom: 10%;
	font-weight: normal;
	}

   #hebergement1, #hebergement2, #hebergement4, #hebergement5
	{
	margin-left:0%;
	margin-bottom: 5%;
	}

	#hebergement3, #hebergement6
	{
	margin-right: 0%;
	margin-left:0%;
	}

	#conteneur, #conteneur01
	{
	margin-top: 10%;
	margin-bottom: 5%;
	}

   #conteneur
   {
   	align-items: center;
   	flex-direction: column;
   	padding-left: 0%;
   	padding-right: 0%;
   	padding-top: 20%;
   	grid-column: 1;
   	grid-row:1;
   }

   #conteneur01
   {
   	align-items: center;
   	flex-direction: column;
   	padding-left: 0%;
   	padding-right: 0%;
   	padding-top: 20%;
   	grid-column: 2;
   	grid-row:1;
   }

   #conteneur2
   {
   	justify-content: space-between;
   	margin-left: 5%;
   	margin-right: 5%;
   	padding-left: 0%;
   	padding-right: 0%;
   }

   #conteneur2 .star
   {
	display: inline-flex;
	justify-content: center;
	font-size: 0.8em;
	margin-left: 2.5%;
	
   }

   #afficher_plus
	{
		margin-top: 2%;
	    margin-bottom: 2%;
	    margin-left: 5%;
	    font-size: 0.6em;
	}


   #conteneur3
	{
		justify-content: space-between;
	   	display: flex;
	   	flex-wrap: wrap;
	   	font-size: 0.7em;
	}

	#acti
	{
		padding-left: 5%;
		padding-right: 5%;
	}

	#activite1, #groupe1, #activite5, #groupe2
	{
		margin-right: 0%;
		margin-left: 0%;
	}

	#activite1
	{
		font-weight: bold;
		background-position: 50%;
		background-size: 200%;
		position:relative;
		width: 325px;
		height: 435px;
		overflow: auto;
		border-radius: 25px;
		box-shadow: 0px 0px 8px 1px #b8b8b8;
		margin-bottom: 5%;
	}

	#activite2
	{
		font-weight: bold;
		background-position: 50%;
		background-size: 100%;
		position:relative;
		width: 325px;
		height: 200px;
		overflow: auto;
		border-radius: 25px;
		box-shadow: 0px 0px 8px 1px #b8b8b8;
	}

	#activite3
	{
		font-weight: bold;
		background-position: 50%;
		background-size: 100%;
		position:relative;
		width: 325px;
		height: 175px;
		overflow: auto;
		border-radius: 25px;
		box-shadow: 0px 0px 8px 1px #b8b8b8;
	}

	#activite4
	{
		font-weight: bold;
		background-position: 50%;
		background-size: 100%;
		position:relative;
		width: 325px;
		height: 200px;
		overflow: auto;
		border-radius: 25px;
		box-shadow: 0px 0px 8px 1px #b8b8b8;
	}

	#activite5
	{
		font-weight: bold;
		background-position: 50% 0%;
		background-size: 200%;
		position:relative;
		width: 325px;
		height: 435px;
		overflow: auto;
		border-radius: 25px;
		box-shadow: 0px 0px 8px 1px #b8b8b8;
	}

	#activite6
	{
		font-weight: bold;
		background-position: 50%;
		background-size: 100%;
		position:relative;
		width: 325px;
		height: 175px;
		overflow: auto;
		border-radius: 25px;
		box-shadow: 0px 0px 8px 1px #b8b8b8;
	}

	footer
	{
    padding-top: 3%;
	background-color: #F2F2F2;
	padding-bottom: 2%;
	font-size: 0.8em;
	}

	#propos
	{
	margin-left: 5%;
	width: 100%;
	}

	#nos_hébergments
	{
    width: 100%;
	}

	#assistance
	{
    width: 100%;
	}

	.stars 
	{
	display: inline-flex;
	justify-content: center;
	font-size: 0.8em;
	margin-left: 2.5%;
	}

	.stars2
	{
	display: inline-flex;
	justify-content: center;
	font-size: 0.8em;
	margin-left: 10%;
	}

}

@media screen and (min-width: 2000px) and (max-width:4000px)
{
	#header
	{
		margin-bottom: 1%;
	}

	nav ul
	{
		font-size: 1.5em;
		margin-left: 38%;
	}

	#inscription
	{
		font-size: 1.5em;
		margin-left: 85%;
	}

	.bouton_filtres
	{
		padding-left: 30px;
		padding-right: 30px;
	    height : 80px;
	    line-height: 75px;
	    font-size: 2.3em;
	    font-weight: normal;

	}

	.bouton_filtres i
	{
		margin-left: -35px;
		width: 80px; 
	  	height: 55px;
		padding-top: 25px;
		font-size: 0.8em;
	}

	#hebergement1
	{
		background-position: center -40px;
		width: 450px;
		height: 300px;
	}

	#hb1 h2
	{
		font-size: 1.5em;
	}

	#hb1 h3
	{
		font-size: 1.4em;
	}

	#hebergement2
	{
		background-position: center -100px;
		width: 450px;
		height: 300px;
	}

	#hb2 h2
	{
		font-size: 1.5em;
	}

	#hb2 h3
	{
		font-size: 1.4em;
	}

	#hebergement3
	{
		background-position: center -80px;
		width: 450px;
		height: 300px;
	}

	#hb3 h2
	{
		font-size: 1.5em;
	}

	#hb3 h3
	{
		font-size: 1.4em;
	}

	#hebergement4
	{
		background-position: center -150px;
		width: 450px;
		height: 300px;
	}

	#hb4 h2
	{
		font-size: 1.5em;
	}

	#hb4 h3
	{
		font-size: 1.4em;
	}

	#hebergement5
	{
		background-position: center -40px;
		width: 450px;
		height: 300px;
	}

	#hb5 h2
	{
		font-size: 1.5em;
	}

	#hb5 h3
	{
		font-size: 1.4em;
	}

	#hebergement6
	{
		background-position: center -300px;
		width: 450px;
		height: 300px;
	}

	#hb6 h2
	{
		font-size: 1.5em;
	}

	#hb6 h3
	{
		font-size: 1.4em;
	}

	#hebergement7
	{
		background-position: -50px;
		width: 500px;
		height: 230px;
	}

	#hb7 h2
	{
		font-size: 1.5em;
	}

	#hb7 h3
	{
		font-size: 1.3em;
		padding-bottom: 44%;
	}

	#hebergement8
	{
		background-position: -50px;
		width: 500px;
		height: 230px;
	}

	#hb8 h2
	{
		font-size: 1.5em;
	}

	#hb8 h3
	{
		font-size: 1.3em;
		padding-bottom: 35%;
	}

	#hebergement9
	{
		background-position: -80px -250px;
		width: 500px;
		height: 230px;
	}

	#hb9 h2
	{
		font-size: 1.5em;
	}

	#hb9 h3
	{
		font-size: 1.3em;
		padding-bottom: 44%;
	}

	#activite1
	{
		background-position: 50% 0%;
		background-size: 200%;
		width: 540px;
		height: 810px;

	}

	#activite2
	{
		background-position: 50% 50%;
		background-size: 100%;
		width: 540px;
		height: 450px;

	}

	#activite3
	{
		background-position: 50% 50%;
		background-size: 100%;
		width: 540px;
		height: 280px;

	}

	#activite4
	{
		background-position: 50% 50%;
		background-size: 100%;
		width: 540px;
		height: 350px;

	}

	#activite5
	{
		background-position: 50% 0%;
		background-size: 200%;
		width: 540px;
		height: 810px;

	}

	#activite6
	{
		background-position: 50% 50%;
		background-size: 100%;
		width: 540px;
		height: 380px;

	}

	footer
	{
		font-size: 1.3em;
	}

	#propos
	{
		margin-left: 2.5%;  
	}
}